---
layout: default
---

<article class="post">

<h1>{{ page.title }}</h1>
<hr>
{{ content }}
<hr>
<footer class="meta">Published on {{ page.date | date: "%B %-d, %Y" }}</footer>
</article>

{% if page.previous.url %}
<nav class="post-nav group">
	{% if page.next.url %}			
	<a rel="next" href="{{ page.next.url }}">
		<span>Next post</span>
		<p>{{page.next.title}}</p>
	</a>
	{% endif %}
	<a rel="prev" href="{{ page.previous.url }}">
		<span>Previous post</span>
		<p>{{page.previous.title}}</p>
	</a>
</nav>
{% endif %}